# root plugin project
bin/
obj/
.idea/
*.user
*.suo
.vs/
# ignore the Unity rip by default
LC Mod Testing/**

!LC Mod Testing/Assets/
!LC Mod Testing/Assets/LethalCompany/
!LC Mod Testing/Assets/LethalCompany/Mods/
!LC Mod Testing/Assets/LethalCompany/Mods/plugins/
!LC Mod Testing/Assets/LethalCompany/Mods/plugins/OpaliteMod/
# mod folder 
!LC Mod Testing/Assets/LethalCompany/Mods/plugins/OpaliteMod/**