# root plugin project
bin/
obj/
.idea/
*.user
*.suo
.vs/
# --- LC Mod Testing: ignore the Unity rip by default ---
LC Mod Testing/**
# Re-include parents on the path to OpaliteMod (required)
!LC Mod Testing/Assets/
!LC Mod Testing/Assets/LethalCompany/
!LC Mod Testing/Assets/LethalCompany/Mods/
!LC Mod Testing/Assets/LethalCompany/Mods/plugins/
!LC Mod Testing/Assets/LethalCompany/Mods/plugins/OpaliteMod/
# mod folder 
!LC Mod Testing/Assets/LethalCompany/Mods/plugins/OpaliteMod/**